.gradle
build
**/build
.idea
.git
*.iml

.github
.gemini
docs
infra
performance
monitoring
db
scripts

README.md
Dockerfile.cd
docker-compose.*.yml

.env
.env.*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
tfplan-*
